<a href="https://colab.research.google.com/github/TurboNeso/Testrepo/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}
df = pd.DataFrame(x)

In [4]:
df.head()

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [5]:
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [6]:
x = df['ID']
x

0    1
1    2
2    3
3    4
Name: ID, dtype: int64

In [8]:
type(df)

pandas.core.frame.DataFrame

In [10]:
z = df[['Name','Salary']]
z

   Name  Salary
0  Rose  100000
1  John   80000
2  Jane   50000
3  Mary   60000

In [11]:
y = {'Student': ['David', 'Samuel', 'Terry', 'Evan'], 
     'Age':[27, 24, 22, 32], 
     'Country': ['UK', 'Canada', 'China', 'USA'], 
     'Course': ['Python', 'Data Structure', 'Machine Learning', 'Web devolepment'], 
     'Marks': [85,72, 89, 76]}

df = pd.DataFrame(y)
df

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24  Canada    Data Structure     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web devolepment     76

In [14]:
z = df[['Student', 'Age']]
z

  Student  Age
0   David   27
1  Samuel   24
2   Terry   22
3    Evan   32

In [19]:
df.loc[1]

Student            Samuel
Age                    24
Country            Canada
Course     Data Structure
Marks                  72
Name: 1, dtype: object

In [21]:
df.iloc[2, 3]

'Machine Learning'

In [30]:
df.loc[0, 'Marks']

85

In [31]:
df2 = df
df2 = df2.set_index('Student')

In [32]:
df2.head()

         Age Country            Course  Marks
Student
David     27      UK            Python     85
Samuel    24  Canada    Data Structure     72
Terry     22   China  Machine Learning     89
Evan      32     USA   Web devolepment     76

In [34]:
df2.loc["Samuel", "Country"]

'Canada'

In [35]:
df2.iloc[2, 3]

89